@model ShopTARge24.Models.Kindergartens.KindergartenDeleteViewModel

<h1>Delete</h1>

<div>
    <h4>Kindergarten</h4>
    <hr />
    <p>Kas oled kindel, et soovid kustutada grupi <strong>@Model.GroupName</strong>?</p>

    <dl class="row">
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Children</label>
            @Model.ChildrenCount
        </div>
    </dl>
    <dl class="row">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kindergarten</label>
            @Model.KindergartenName
        </div>
    </dl>
    <dl class="row">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Teacher</label>
            @Model.TeacherName
        </div>
    </dl>

    <form asp-action="delete" asp-controller="kindergarten" method="post">
        <input asp-for="Id" type="hidden" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" asp-controller="kindergarten" class="btn btn-secondary">Cancel</a>
    </form>
</div>
